*{
    font-family: Arial, sans-serif;
}

header{
    font-size: 2vw;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2rem auto;
    max-width: 500px;
    padding: 1rem 0;
    background-color: white;
    border: solid;
    border-left: transparent;
    border-right: transparent;
    border-color: #f4f4f4;
    border-width: 1%;
}

.contact{
    padding: 3% 1%;
    margin: 0px;
    width: 95%;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
}

.contact > i{
    border-color: #f4f4f4;
    border-style: solid;
    border-radius: 50% 50%;
    padding: 15px 15px;
    margin: 0px 15px;
    background-color: #f4f4f4;
}

.contact > strong{
    padding: 0 4%;
    font-size: auto;
    margin-right: auto;
}

.search-bar{
    width: 80%;
    max-width: 500px;
    margin: 2rem auto;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    border-radius: 60px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1% 5%;
    font-size: 18px;
    color: black;
}

.search-bar button{
    border: 0;
    border-radius: 20%;
    font-size: auto;
    background: transparent;
    cursor: pointer;
    margin: 3% 3%;
}

.search-bar button > i{
    color: black;
    margin: 3% 3%;
}

.chips{
    display: flex;
    justify-content: center;
}

.chip{
    color: #333;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 38px;
    max-width: 160px;
    width: 25%;
    cursor: pointer;
    border-radius: 2px;
    margin: 4px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

.chip:hover{
    color: white;
    background-color: #333;
}

.chip:active {
    opacity: 0.7;
    background-color:#333;
    color : white;
}

.chip.selected {
    background-color: #333;
    color: white;
}

.chips a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%; 
    line-height: 38px;
    text-align: center;
}

.chips a.chip {
    color: #dc0f0f;
}

.chips a.chip.selected {
    color: white;
}

.favourites-button{
    color: #333;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 38px;
    width: 80px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: auto;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

.favourites-button:hover{
    color: white;
    background-color: #333;
}

.favourites-button:active {
    opacity: 0.7;
    background-color:#333;
    color : white;
}

.delete-button{
    color: rgb(217, 45, 42);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 38px;
    width: 80px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

.delete-button:hover{
    background-color: rgb(217, 45, 42) ;
    color : white
}

.delete-button:active {
    opacity: 0.7;
    background-color: rgb(217, 45, 42) ;
    color : white
}

.add-contact{
    position: fixed;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 3% 3%;

}

.add-contact button{
    display: inline-block;
    background-color: #333;
    color: white;
    border-radius: 50% 50%;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
}



