<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="{{ url_for('static', filename='search.css') }}">
    <script src="https://kit.fontawesome.com/eac29ec11e.js" crossorigin="anonymous"></script>
    <title>Contacts</title>

</head>
<body>
    <header>
        <h1> Contacts </h1>
    </header>
        <form action="" class="search-bar">
            <input type="text" placeholder="Search" >
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            </button>
        </form>
        <div class="chips">
            <button class = "chip"> All </button>
            <button class = "chip"> Favourites </button>
            <button class = "chip"> Recent </button>
        </div>
        <main>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "favourites-button"> Favourite </button>
                <button class = "delete-button"> Delete </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "favourites-button"> Favourite </button>
                <button class = "delete-button"> Delete </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "favourites-button"> Favourite </button>
                <button class = "delete-button"> Delete </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "favourites-button"> Favourite </button>
                <button class = "delete-button"> Delete </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "favourites-button"> Favourite </button>
                <button class = "delete-button"> Delete </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "favourites-button"> Favourite </button>
                <button class = "delete-button"> Delete </button>
            </div>
        </main>
        <div class="add-contact">
            <a href="{{ url_for('add_contact')}}">
                <button type="submit">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </button>
            </a>
        </div>
</body>
</html>
