<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="{{ url_for('static', filename='deletecontact.css') }}">
    <title>Delete Contact</title>
</head>
<body>
    <header>
        <h1>Delete Contact</h1>
    </header>
    <main>
        <div class="buttons">
            <a href="javascript:history.back()" id="back">&#8592; Back</a>
    
        </div>
        <div class="details-group">
            <strong>Full Name:</strong>
            <p id="fullName">name filler</p>
        </div>
        
        <div class="details-group">
            <strong>Phone Number:</strong>
            <p id="phoneNumber">number filler</p>
        </div>
        
        <div class="details-group">
            <strong>Email Address:</strong>
            <p id="emailAddress">email filler</p>
        </div>

        <button class = "delete-button"> Delete </button>

        

       
    </main>
</body>
</html>
