<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= stylesheet href="../styles/favourites.css">
    <script src="https://kit.fontawesome.com/eac29ec11e.js" crossorigin="anonymous"></script>
    <title>Favourite Contacts</title>
</head>
<body>
    <header>
        <h1> Favourite Contacts </h1>
    </header>
        <form action="" class="search-bar">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            </button>
            <input type="text" placeholder="Search" >
        </form>
        <main>
            <div class="buttons">
                <a href="javascript:history.back()" id="back">&#8592; Back</a>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "remove-button"> Remove </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "remove-button"> Remove </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "remove-button"> Remove </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "remove-button"> Remove </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "remove-button"> Remove </button>
            </div>
            <div class="contact">
                <i class="fa-solid fa-user"></i>
                <strong>Name</strong>
                <button class = "remove-button"> Remove </button>
            </div>
        </main>
</body>
</html>
